<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="app_container">
            <div class="app_header">
                <h2 class="app_header-title title is-1">
                    Job Board - Applicant Viewer
                </h2>
                <h4 class="app_header-subt subtitle is-4">
                    Current Applicants:
                </h4>
            </div>
        </div>
    </body>
</html>
