<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="app_container">
            <div class="app_header">
                <%- include('./partials/nav.ejs') %>
                <h2 class="app_header-title title is-2">4th Grade Teacher - Springfield Public Schools</h2>
                <h3 class="app_header-subt subtitle">
                    Hello,
                    <br></br>
                    Thank you for submitting your resume! The Springfield Public School district is a network of K-12 schools that currently serve over 1,340 students from the surrounding area. Our commitment to holistic child development is paralleled with our commitment to creating a joyful community for families and staff. The primary responsibility of an elementary school teacher is to cultivate a healthy, ambitious learning environment. 
                    <br></br>
                    Our district uses a series of questions for all prospective applicants, that you can answer below. 
                    <br></br>
                    When you're ready, hit "Submit" at the bottom and your answers will be recorded.
                </h3>
            </div>

            <hr></hr>

            <form action="/application/submit" class="form_application" method="POST">

                <div class="app_body">

                    <div class="app_body-questions">
                        <field class="form" id="question_name">
                            <label class="label">Please provide your first and last name.</label>
                            <div class="control">
                                <input
                                    class="input"
                                    type="text"
                                    placeholder="First and Last Name"
                                    name="_name"
                                />
                            </div>
                        </field>
                    </div>

                    <div class="app_body-questions">
                        <field class="form" id="question-1">
                            <label class="label">A second grader has done well decoding words and improving automaticity when reading out loud. However, the student rarely changes inflections and ignores punctuation, reading almost monotonously. To help the student improve, the teacher should do which of the following?</label>
                            <div class="select">
                                <select name="_a1">
                                    <option></option>
                                    <option value="repeated-reading" class="question_1-op">Have the student partake in repeated readings</option>
                                    <option value="phrase-boundaries" class="question_1-op">Provide the student with text that has phrase boundaries</option> <!---->
                                    <option value="encoding-activities" class="question_1-op">Guide the student in encoding activities</option>
                                    <option value="punct-marks" class="question_1-op">Teach the student about the uses of different punctuation marks</option>
                                </select>
                            </div>
                        </field>
                    </div>

                    <div class="app_body-questions">
                        <field class="form" id="question-2">
                            <label class="label">In developing a persuasive presentation, a student has focused on implementing a school-wide recycling program due to the vast amount of trash a school community produces each day. The student will be arguing which of the following?</label>
                            <div class="select">
                                <select name="_a2">
                                    <option></option>
                                    <option value="fact" class="question_2-op">An assertion of fact</option>
                                    <option value="value" class="question_2-op">An assertion of value</option>
                                    <option value="policy" class="question_2-op">An assertion of policy</option> <!---->
                                    <option value="rhetoric" class="question_2-op">An assertion of rhetorical situation</option>
                                </select>
                            </div>
                        </field>
                    </div>

                    <div class="app_body-questions">
                        <field class="form" id="question-3">
                            <label class="label">A student is examining a source to use in a research paper. The student does research on the author and source and examines the relevance of the information in relation to the paper's topic. What else must the student do next to determine if the information should be used?</label>
                            <div class="select">
                                <select name="_a3">
                                    <option></option>
                                    <option value="src-authenticity" class="question_3-op">Verify the source's information to consider the authenticity of and the amount of possible bias therein</option> <!---->
                                    <option value="examine-complexity" class="question_3-op">Examine the complexity of the information</option>
                                    <option value="info-readability" class="question_3-op">Determine the readability of the information in relation to the audience</option>
                                    <option value="opinion-and-fact" class="question_3-op">Identify if the source has both opinion and fact</option>
                                </select>
                            </div>
                        </field>
                    </div>

                    <div class="app_body-questions">
                        <field class="form" id="question-4">
                            <label class="label">Which of the following is the most effective way for a first-grade teacher to enhance students’ reading proficiency?</label>
                            <div class="select">
                                <select name="_a4">                   
                                    <option></option>
                                    <option value="encourage-storytelling" class="question_4-op">Encourage oral storytelling in the classroom</option>
                                    <option value="provide-phonics" class="question_4-op">Provide effective phonics instruction</option> <!---->
                                    <option value="real-lit" class="question_4-op">Replace basal texts with real literature</option>
                                    <option value="visit-library" class="question_4-op">Have students make daily visits to the school library</option>
                                </select>
                            </div>
                        </field>
                    </div>


                </div> <!-- app_body -->

                <hr></hr>

                <div class="app_button-container">
                    <button class="button is-link">Submit</button>
                </div>
           
            </form>
            

            
        </div> <!-- app_container -->

    </body>
</html>

<!--

<div class="field">
      <div class="control">
        <input class="input is-danger" type="text" placeholder="e.g. Partnership opportunity">
      </div>
      <p class="help is-danger">
        This field is required
      </p>
    </div>

-->
