<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <div class="app_container">
            <div class="app_header">
                <%- include('./partials/nav.ejs') %>
                <h1 class="app_header-title title is-1"><%= title %></h1>
                <h2 class="app_header-subt subtitle is-2">Welcome to the Springfield Public Schools Job Portal!</h2>
                <h4 class="app_header-subt subtitle is-4">To follow-up on an application, click on "Application" on the top right.</h4>
            </div>
    </body>
</html>
