<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>

        <div class="app_container">
            <div class="app_header">
                <%- include('./partials/nav.ejs') %>
                <h3 class="app_header-title title is-3">Thank you! Your answers have been recorded.</h3>
                <h4 class="app_header-subt">If we feel you are a good fit, we will reach out with further instructions.</h4>
            </div>
        </div>
    </body>
</html>