<nav class="nav_container navbar-end" role="navigation" aria-label="navigation">
    <a href="/" class="navbar-item">Home</a>
    <a href="/application/submit" class="navbar-item">Application</a>
    <a href="/admin" class="navbar-item" title="Go to the Admin portal"
        >Admin</a
    >
</nav>
