$my-variable: #000000;

.f-bold {
    font-weight: bold;
}

.f-ital {
    font-weight: italic;
}

/* ----- navigation ----- */

.nav_container {
    margin-bottom: 2rem;
}

/* ----- app container ----- */

.app_container {
    margin: 0 auto;
    width: 50%;

    .app_header-title,
    .app_header-subt {
        margin-bottom: 2rem;
    }
}

/* ----- app_body ----- */

.app_body {
    display: flex;
    flex-direction: column;

    .app_body-questions {
        margin-bottom: 2rem;
    }
}
